# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
**/cmake-build*
**/CMakeFiles
**/logs
**/.idea
**/build
**/CMakeCache.txt
**/cmake_install.cmake
**/.vscode
**/test*
**/*.out*
**/*.stf*
**/*.prot*
**/*.bin
**/*Mat*.txt
**/*.ods
**/*.sbatch
